{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <title>DM</title>#}
{#  <link rel="stylesheet" href="css/style.css">#}
{#  <link rel="stylesheet" href="css/flexslider.css">#}
{#  <link rel="stylesheet" href="css/style_company.css">#}
{#   <link rel="stylesheet" href="css/style_clients.css">#}
{#   <link rel="stylesheet" href="css/style_one_news.css">#}
{#  <script src="https://kit.fontawesome.com/72634a5f69.js" crossorigin="anonymous"></script>#}
{#</head>#}
{#<body>#}
{#  <div class="header_wrap">#}
{#   <div class="header_contenet">#}
{#    <img class="img_logo" src="img/logo-dark.png" alt="">#}
{#    <img class="nav_bg_left" src="img/nav_bg_left_color.png" alt="">#}
{#    <img class="nav_bg_right" src="img/nav_bg_right.png" alt="">#}
{##}
{#    <input type="text" placeholder="Введите для поиска интересующий товар...">#}
{#    <button class="search">найти <img src="img//search.png" alt=""></button>#}
{#    <div class="header_contacts">#}
{#      <h2 class="daily">Ежедневно с 9.00-19.00</h2>#}
{#      <div class="header_contacts_call">#}
{#        <img src="img/call.png" alt="">#}
{#        <h2 class="h_number">+(380) 71 2233 32</h2>#}
{#      </div>#}
{#     <div class="header_contacts_call_mail">#}
{#       <img src="img/mail.png" alt="">#}
{#      <h6>donbassmetal@gmail.com</h6>#}
{#     </div>#}
{#    </div>#}
{#    <div class="header_nav">#}
{#       <input type="checkbox" id="Tmenu" name="toggle"  class="toggle_menu">#}
{#       <label for="Tmenu" class="toggle_menu"><i class="fa fa-bars" aria-hidden="true"></i>Меню</label>#}
{#      <ul>#}
{#        <li><a href="">О КОМПАНИИ</a></li>#}
{#        <li><a href="">МЕТАЛЛОПРОДУКЦИЯ</a></li>#}
{#        <li><a href="">МЕТАЛЛООБРАБОТКА</a></li>#}
{#        <li><a href="">КЛИЕНТАМ</a></li>#}
{#        <li><a href="">НОВОСТИ</a></li>#}
{#        <li><a href="">КОНТАКТЫ</a></li>#}
{#      </ul>#}
{#    </div>#}
{#   </div>#}
{#  </div>#}

{#  #}

{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

  <h1 class="firstSection">Клиентам</h1>
  <h2 class="yellowTitle">Доставка металлопроката</h2>
  <div class="main_content">

    <div class="img_clients"></div>

    <p class="newsParag">
      Наша компания предлагает своим клиентам доставку в ДНР, ЛНР, а также в Российскую Федерацию. Мы сотрудничаем с транспортными компаниями которые осуществят доставку для Вас на транспорте грузоподъемностью от 0.5 до 24 тонн.
    </p>
  </div>
  <h2 class="companyTitleSectionRed">Основные преимущества нашей доставки:</h2>
  <section class="advantages main_content">
     <div class="flexContainer">
        <div class="sectionTable One">
            <div class="cardShema">
              <span class="circuleNumber">1</span> Транспортировка металло продукции в наиболее удобное время для заказчика по предварительной договоренности 
            </div>
            <div class="cardShema"><span class="circuleNumber">2</span> Возможность перевозить длинномерные типы металло проката до 12 метров</div>
            <div class="cardShema"><span class="circuleNumber">3</span> Гибкая ценовая политика с индивидуальным расчетом цены для каждого клиента</div>
        </div>
        <div class="sectionTable Two">
            <img src="img/horror2.png" alt="">
        </div>
        <div class="sectionTable Three">
            <div class="cardShema"><span class="circuleNumber">4</span>Мы используем систему «сборного груза», обеспечивающую заказчику существенную экономию средств на перевозке</div>
            <div class="cardShema"><span class="circuleNumber">5</span> Оперативная доставка груза со 100%-ной гарантией своевременного прибытия транспорта при срочных заказах.</div>
            <div class="cardShema"><span class="circuleNumber">6</span>Нет необходимости рас
              ходовать свое личное время на переговоры с транс
              портными компаниями
            </div>
        </div>
  </div>
  </section>

{% endblock %}


{#  <div class="main_content footer_content">#}
{#    <section class="footer">#}
{#      <div class="logo">#}
{#        <img src="img/logo-dark.png" alt="">#}
{#        <a href="#"><img src="img/logo-light.png" alt="Наше лого"></a>#}
{#      </div>#}
{#      <div class="address">#}
{#        <p class="adr">Наш адрес: г. Донецк,ул. Левобережная, 55</p>#}
{#        <p  class="tel">Контакты: +380 71 2233 32</p>#}
{#        <p class="daily">Ежедневно с <span>9.00 - 19.00</span></p>#}
{#        <p class="email">E-mail: donbassmetal@gmail.com</p>#}
{#      </div>#}
{#      <div class="footer_nav">#}
{#        <p>Навигация</p>#}
{#        <hr>#}
{#        <div class="footer_nav_a">#}
{#          <div class="footer_nav_a1">#}
{#          <a href="">О компании</a>#}
{#          <a href="">Металлопродукция</a>#}
{#          <a href="">Металлообработка</a>#}
{#        </div>#}
{#        <div class="footer_nav_a2">#}
{#          <a href="">Клиентам</a>#}
{#          <a href="">Новости</a>#}
{#          <a href="">Контакты</a>#}
{#        </div>#}
{#        </div>#}
{#        #}
{#        #}
{#      </div>#}
{#    </section>#}
{#  </div>#}
{#  #}
{#  #}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#  <script defer src="js/jquery.flexslider-min.js"></script>#}
{#  <script type="text/javascript">#}
{#  $(window).load(function(){#}
{#    $('.flexslider').flexslider({#}
{#    animation: "slide",#}
{#        controlNav: true,#}
{#        directionNav: false#}
{#    });#}
{#  });#}
{#  </script>#}
{#</body>#}
{#</html>#}